# ROSKY.gitignore

setup/jetson-inference/
catkin_ws/.catkin_workspace
catkin_ws/build/
catkin_ws/devel/
catkin_ws/src/CMakeLists.txt
catkin_ws/src/rosky_slam/map/test_20200917.pgm
catkin_ws/src/rosky_slam/map/test_20200917.yaml
setup/jetson-inference/python/training/
setup/jetson-inference/tools/camera-capture/
setup/jetson-inference/utils/
catkin_ws/.catkin_tools/
catkin_ws/install/
catkin_ws/logs/
cvbridge_build_ws/build
cvbridge_build_ws/devel
cvbridge_build_ws/install
cvbridge_build_ws/logs
cvbridge_build_ws/.catkin_tools
**/.ipynb_checkpoints
**/.pyc
catkin_ws/src/jetson_camera/src/jetson_camera.pyc
catkin_ws/src/jetson_camera/include/jetcam_ros/utils.pyc

# wait for modified
catkin_ws/src/jetson_camera/param/jetson_camera_detect_lane.yaml

