<?xml version="1.0"?>
<launch>

	<!-- VIDEO SOURCE -->
        <arg name="node_name" default="camera_node"/>
	<arg name="input" default="csi://0"/>
	<arg name="input_width" default="224"/>
	<arg name="input_height" default="224"/>
	<arg name="input_codec" default="unknown"/>
	<arg name="input_loop" default="0"/>
        <arg name="flip" default="0"/>
        <!--
	   The flip method controls if and how an input frame is flipped/rotated in pre-processing
	   from a MIPI CSI camera or compressed video input. Other types of streams will ignore this.
            - `none`                 (Identity, no rotation)
	    - `counterclockwise`     (Rotate counter-clockwise 90 degrees)
	    - `rotate-180`           (Rotate 180 degrees)
	    - `clockwise`            (Rotate clockwise 90 degrees)
	    - `horizontal-flip`      (Flip horizontally)
	    - `vertical-flip`        (Flip vertically)
	    - `upper-right-diagonal` (Flip across upper right/lower left diagonal)
	    - `upper-left-diagonal`  (Flip across upper left/lower right diagonal)
	 -->


	<include file="$(find ros_deep_learning)/launch/video_source.ros1.launch">
	    <arg name="input" value="$(arg input)"/>
	    <arg name="input_width" value="$(arg input_width)"/>
	    <arg name="input_height" value="$(arg input_height)"/>
	    <arg name="input_codec" value="$(arg input_codec)"/>
	    <arg name="input_loop" value="$(arg input_loop)"/>
            <arg name="flip" value="$(arg flip)"/>
	</include>

</launch>
