<launch>
    <arg name="veh" doc="Name of vehicle. ex: megaman"/>
    <param name="$(arg veh)/board_name" value="ominibot_car"/>
    <node ns="$(arg veh)" pkg="ominibot_car" type="wheels_ominibot_driver_node.py" name="wheels_driver_node" output="screen" clear_params="true" required="true"/>
    
    <!-- Subscriptions -->
    <!-- "~wheels_cmd": duckietown_msgs/WheelsCmd. Command for the wheels -->

</launch>
