<?xml version="1.0"?>
<launch>
	<arg name="veh" default="$(env VEHICLE_NAME)"/>
    <arg name="camera_name" default="jetson_camera"/>
    
    <!-- start camera -->
	<include file="$(find jetson_camera)/launch/jetson_camera.launch">
	    <arg name="veh" value="$(arg veh)"/>
            <arg name="raw" value="true"/>    
    </include>

    <!-- start intrinsic -->
	<node ns="$(arg veh)" pkg="camera_calibration" type="cameracalibrator.py" name="intrinsic_calibrator" args="--size 7x5 --square 0.031 image:=/$(arg veh)/$(arg camera_name)/image/raw"/>

	<node ns="$(arg veh)" pkg="jetson_camera" type="set_camera_info.py" name="camera"/>
        <!-- for cameracalibrator.py , the name of service mustbe /$(arg veh)/camera/set_camera_info -->
</launch>
