<?xml version="1.0" encoding="utf-8"?>
<launch>
	<!-- start basic args -->
	<arg name="veh" default="$(env VEHICLE_NAME)"/>
	<arg name="config" default="baseline" />
    <arg name="verbose" default="true" />
    <arg name="camera_name" default="jetson_camera"/>


	<arg name="param_file_name" default="default" />
	<arg name="fsm_file_name" default="default" />
	<arg name="visualization" default="true" />

	<arg name="statistics" default="false"/>
	<arg name="map_name" default="duckietown_map"/>
	<arg name="anti_instagram" default="true"/>
	<arg name="loc" default="-1"/>
	<arg name="line_detector_param_file_name" default="default"/>
	<arg name="lane_controller_param_file_name" default="$(arg line_detector_param_file_name)"/>
	<arg name="intersectionType" />
	<!-- end basic args -->
 
<!-- the things that are "on" by default: 
 - camera stack (raw imagery defaults to false)
 - wheels stack
 - joystick stack
 - lane_following stack (old version of line detector only)
 - fsm
-->

<!-- general convention on remappings is that we remap the "subscribers" -->

	<!-- start switch args -->
	<arg name="camera" default="true"/>
    <arg name="camera_calibration" default="false"/>
	<arg name="/camera/raw" default="true"/>
	<arg name="wheels" default="true"/>
    <arg name="fsm" default="true"/>
	<arg name="line_detector_node_output" default="log"/>
    <arg name="hsv_reconfigure_output" default="log"/>
	<arg name="lane_following" default="true"/>
	<arg name="hsv_reconfigure" default="false"/>
	<arg name="inference" default="false"/>
	<arg name="inference_camera" default="false"/>
	<arg name="inference_reaction" default="true"/>
	<arg name="inference_reaction_output" default="screen"/>
	<arg name="/lane_following/line_detection" default="true"/>
	<arg name="/lane_following/ground_projection" default="true"/>
	<arg name="/lane_following/lane_filter" default="true"/>
	<arg name="/lane_following/stop_line_filter" default="true"/>
	<arg name="/lane_following/lane_controller" default="true"/>



	<!-- end switch args -->
	
	<!-- Enable statistics -->
	<param name="enable_statistics" value="$(arg statistics)"/>


	<!-- Start Camera -->  
	<group if="$(arg camera)">
		<include  file="$(find jetson_camera)/launch/jetson_camera.launch">
			<arg name="veh" value="$(arg veh)"/>
			<arg name="config" value="$(arg config)"/>
            <arg name="raw" value="$(arg /camera/raw)"/>
		</include>
        </group>
	<!-- End Camera -->

	<!-- Start Wheels -->
	<group if="$(arg wheels)">
	    <group if="$(arg inference)">
	        <remap from="inverse_kinematics_node/wheels_cmd" to="wheels_driver_node/wheels_cmd" />
		    <remap from="inverse_kinematics_node/car_cmd" to="inference_to_reaction/pub_car_cmd"/>
		    <include file="$(find ominibot_car)/launch/inverse_kinematics_node.launch">
		        <arg name="veh" value="$(arg veh)"/>
		    </include>
		</group>
		<group unless="$(arg inference)">
	        <remap from="inverse_kinematics_node/wheels_cmd" to="wheels_driver_node/wheels_cmd" />
		    <remap from="inverse_kinematics_node/car_cmd" to="lane_controller_node/car_cmd"/>
		    <include file="$(find ominibot_car)/launch/inverse_kinematics_node.launch">
		        <arg name="veh" value="$(arg veh)"/>
		    </include>
		</group>
		<!-- Wheel Driver -->
		<include file="$(find ominibot_car)/launch/wheels_ominibot_driver_node.launch">
			<arg name="veh" value="$(arg veh)"/>
		</include>

	</group>

	<!-- End Wheels -->

	<!-- Start Lane Following -->
	<group if="$(arg lane_following)">
		<!-- Line Detector -->
		<group if="$(arg /lane_following/line_detection)">
			<remap from="line_detector_node/image" to="$(arg camera_name)/image/compressed"/>
			<remap from="line_detector_node/transform" to="anti_instagram_node/transform"/>
			<include file="$(find line_detector)/launch/line_detector_node.launch">
				<arg name="veh" value="$(arg veh)"/>
				<arg name="config" value="$(arg config)"/>
				<!-- NOTE: "line_detector_param_file_name" as special case -->
				<arg name="param_file_name" value="$(arg line_detector_param_file_name)"/>
				<arg name="verbose" value="$(arg verbose)" />
				<arg name="hsv_reconfigure" value="$(arg hsv_reconfigure)"/>
				<arg name="line_detector_node_output" value="$(arg line_detector_node_output)"/>
				<arg name="hsv_reconfigure_output" value="$(arg hsv_reconfigure_output)"/>
			</include>	
		</group>
                <!-- End Line Detector -->

		<!-- Ground projection -->
		<group if="$(arg /lane_following/ground_projection)">
			<include file="$(find ground_projection)/launch/ground_projection.launch">
				<arg name="veh" value="$(arg veh)"/>
				<arg name="config" value="$(arg config)"/>
                                <arg name="camera_calibration" value="$(arg camera_calibration)"/>

			</include>
			<group if="$(arg visualization)">
			  <remap from="$(arg veh)_visualizer/segment_list" to="ground_projection/lineseglist_out"/>
			  <include file="$(find rosky_visualizer)/launch/rosky_visualizer.launch">
			    <arg name="veh" value="$(arg veh)" />
			  </include>
			</group>
		</group>
                <!-- End Ground projection -->

		<!-- Lane Filter -->
		<group if="$(arg /lane_following/lane_filter)">
			<remap from="lane_filter_node/segment_list" to="ground_projection/lineseglist_out"/>
			<include file="$(find lane_filter)/launch/lane_filter_node.launch">
				<arg name="veh" value="$(arg veh)"/>
				<arg name="config" value="$(arg config)"/>
				<arg name="param_file_name" value="$(arg param_file_name)"/>
			</include>
		</group>

		<!-- End Line Filter -->

		<!-- Lane controller -->
		<group if="$(arg /lane_following/lane_controller)">
			<remap from="lane_controller_node/lane_pose" to="lane_filter_node/lane_pose"/>
			<include file="$(find lane_control)/launch/lane_controller_node.launch">
				<arg name="veh" value="$(arg veh)"/>
				<arg name="config" value="$(arg config)"/>
				<arg name="param_file_name" value="$(arg lane_controller_param_file_name)"/>        
			</include>
		</group> 	<!-- End Lane Control -->

        <!-- inference model and reaction -->
        <group if="$(arg inference)">
		    <remap from="inference_to_reaction/sub_car_cmd" to="lane_controller_node/car_cmd"/>
            <include file="$(find img_recognition)/launch/inference.launch">
			    <arg name="veh" value="$(arg veh)"/>
				<arg name="config" value="$(arg config)" />
				<arg name="camera" value="$(arg inference_camera)"/>
                <arg name="reaction" value="$(arg inference_reaction)"/>
				<arg name="reaction_output" value="$(arg inference_reaction_output)"/>
            </include>
        </group>    <!-- End inference model and reaction -->
	</group>    <!-- End Lane Following -->
</launch>
